/* Reset */

* {
    margin: 0;  
    padding: 0;  
    border: 0;  
    font-size: 100%;  
    font: inherit;  
    vertical-align: baseline;  
    box-sizing: border-box;

    /* tools for debug */
    /* border:1px solid grey; */
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 1.6rem;
    background-color: rgb(245, 245, 245);
    color: rgb(41, 41, 41);
    max-width: 1024px;
    margin: 0 auto;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 3rem;
    font-weight: 500;
}

h2 {
    font-size: 2.3rem;
    font-weight: 500;
}

.header-containner{
    display: flex;
    flex-direction: column;
    padding: 5rem 8rem;
    background-image: linear-gradient(-90deg, rgb(126, 126, 126), rgba(255, 255, 255, 0.205)),
    url("/img/header-bk.jpg");
    background-size: cover;
    color: rgb(245, 245, 245);
    letter-spacing: 3px;
    height: 20rem;
}

.nav-containner {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    width: 50%;
}

.btn-nav {
    display:inline-block;
    text-decoration: none; 
    width: 8rem;
    color: rgb(245, 245, 245);
}
.btn-nav:hover{
    border-bottom:2px solid rgb(245, 245, 245);
    transition-timing-function: ease-in;
    transition-duration: 500ms;
}

.btn {
    display:inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8rem;
    border: 1px solid rgb(197, 197, 197);
    padding: 1rem 2rem;
    width: 18rem;
    border-radius: 4px;
    color: rgb(54, 54, 54);
    background-color: rgb(226, 226, 226);
    text-align: center;
    
}

.btn:hover {
    transform: translate(0, -5px);
    box-shadow: 3px 3px lightgray;
    transition-duration: 500ms;
}

.section-story {
    display: flex;
    margin: 5rem 8rem;
}

.story-photo-containner {
    width: 50%;
}
.story-text-containner {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    padding: 5rem 5rem 0 5rem;
    line-height: 2.5rem;
}

/*the image will not stretch larger than its natural size*/

.story-photo{ 
    max-width: 100%;
    display:block;
    object-fit: cover;
    border-radius: 3px;
    filter: opacity(80%);
}

.story-photo:hover {
    filter: opacity(100%)
}

.section-project {
    padding: 0 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-card {
    text-align: center;
    margin-bottom: 5rem;
}

.project-photo {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    filter: opacity(80%);
    border-radius: 3px;
    display:block;
}

.project-photo:hover {
    filter: opacity(100%);
    transform: translate(0, -5px);
    box-shadow: 3px 3px lightgray;
    transition-duration: 500ms;
}

.project-title {
    text-transform: uppercase;
    margin: 3px 0;
}

.section-contact {
    height: 20rem;
    background-image: linear-gradient(90deg, rgb(126, 126, 126), rgba(255, 255, 255, 0.671)),
    url("/img/header-bk.jpg");    
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(245, 245, 245);
}

.contact-text {
    margin-bottom: 3rem;
}

@media (max-width:800px) {
    
    body {
        max-width: 800px;
    }
    
    .header-containner{
        padding: 3rem 5rem;
        height: 15rem;
    }

    .nav-containner{
        width: 80%;
    }

    .section-story {
        margin: 3rem 5rem;
    }

    .story-text-containner{
        padding:  0 3rem;
    }

    .section-project {
        padding: 0 5rem;
    }

    .section-contact {
        height: 15rem;
    }

}

@media (max-width:500px) {
    body {
        max-width: 500;
    }

    .header-containner{
        padding: 2rem;
        align-items: center;
        height: auto;
        line-height: 3rem;
    }

    .nav-containner {
        flex-direction: column;
    }

    .section-story {
        margin: 2rem 1rem;
        flex-direction: column;
    }

    .story-photo-containner{
        width: 100%;
    }

    .story-text-containner{
        width: 100%;
        padding: 4rem 2rem;
        align-items: center;
        height: 30rem;
    }

    .section-project {
        padding: 0 3rem;
    }
    


}