/* Reset */

* {
    margin: 0;  
    padding: 0;  
    border: 0;  
    font-size: 100%;  
    font: inherit;  
    vertical-align: baseline;  
    box-sizing: border-box;

    /* tools for debug */
    /* border:1px solid grey; */
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    /* margin: 10px;
    border: 10px solid rgb(61, 61, 61);
    padding: 10px; */
    font-size: 1.6rem;
    background-color: rgb(245, 245, 245);
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 3rem;
    font-weight: 500;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
}

.header-containner{
    display: flex;
    flex-direction: column;
    padding: 5rem;
    background: url("/img/header-bk.jpg");
    background-size: cover;
    color: rgb(245, 245, 245);
    letter-spacing: 3px;
}

.nav-containner {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    width: 50%;
}


.btn-nav {
    display:inline-block;
    text-decoration: none; 
    width: 10rem;
    border-radius: 3px;
    color: rgb(245, 245, 245);
    /* border: 1px solid grey; */
}

.section-story {
    display: flex;
    padding: 0 5rem;
}

.story-photo-containner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.story-text-containner {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;
    padding: 10rem 5rem;
}



.story-photo{
    width: 100%;
    object-fit: cover;
    height: 80%;
    border-radius: 3px;
}

.section-project {
    padding: 0 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-card {
    text-align: center;
    margin-bottom: 5rem;
}

.project-photo {
    width: 22rem;
    height: 22rem;
    object-fit: cover;
}

.project-title {
    text-transform: uppercase;
    margin: 3px 0;
}

.section-contact {
    height: 20rem;
    background: url("/img/header-bk.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}